.nav-link.active.h-blue {
	background: #04a9f5 !important;
}
.nav-link.active.h-red {
	background: #ff5252 !important;
}
.nav-link.active.h-purple {
	background: #9575CD !important;
}
.nav-link.active.h-lightblue {
	background: #23b7e5 !important;
}
.nav-link.active.h-dark {
	background: #323437 !important;
}