.theme-color {
	display: block;
	position: relative;
	padding: 5px 5px 0;
	margin-bottom: 10px;
	>a {
		position: relative;
		width: 45px;
		height: 30px;
		border-radius: 2px;
		display: inline-block;
		margin-right: 8px;
		background: #f4f7fa;
		overflow: hidden;
		-webkit-box-shadow: 0.4px 0.9px 3px 0 rgba(0, 0, 0, 0.33);
		box-shadow: 0.4px 0.9px 3px 0 rgba(0, 0, 0, 0.33);
		span {
			width: 100%;
			position: absolute;
			&:after {
				content: "";
				height: 100%;
				position: absolute;
				width: 70%;
				right: 0;
				background: #f4f7fa;
			}
			&:before {
				content: "";
				height: 100%;
				position: absolute;
				width: 30%;
				left: 0;
				background: #3f4d67;
			}
		}
		>span {
			&:nth-child(1) {
				height: 30%;
				top: 0;
			}
			&:nth-child(2) {
				height: 75%;
				bottom: 0;
			}
		}
	}
	>a.active {
		-webkit-box-shadow: 0 0 0 3px #04a9f5;
		box-shadow: 0 0 0 3px #04a9f5;
		&:before {
			content: "\e8dc";
			top: -1px;
			font-size: 20px;
			position: absolute;
			left: 12px;
			font-family: $font-family_6;
			z-index: 1001;
			color: $color_4;
			-webkit-transition: 0.3s ease-in-out;
			transition: 0.3s ease-in-out;
			text-shadow: 0 1px 3px rgba(4, 169, 245, 0.9), 0 3px 8px rgba(0, 0, 0, 0.1);
		}
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $background-color_15;
		}
	}
	>a[data-value="menu-light"] {
		span {
			&:before {
				background: #fff;
			}
		}
	}
	>a[data-value="dark"] {
		span {
			&:after {
				background: #101011;
			}
		}
	}
	>a[data-value="reset"] {
		background: #f44236;
		color: $color_5;
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		top: -10px;
		width: 135px;
	}
}
.theme-color.small {
	>a {
		width: 25px;
		height: 25px;
		border-radius: 50%;
		&:before {
			font-size: 15px;
			left: 5px;
			top: 1px;
		}
		>span {
			display: none;
		}
	}
}
.theme-color.header-color {
	>a[data-value="header-blue"] {
		>span {
			&:nth-child(1) {
				&:after {
					background: #04a9f5;
				}
			}
		}
	}
	>a[data-value="header-red"] {
		>span {
			&:nth-child(1) {
				&:after {
					background: #ff5252;
				}
			}
		}
	}
	>a[data-value="header-purple"] {
		>span {
			&:nth-child(1) {
				&:after {
					background: #9575CD;
				}
			}
		}
	}
	>a[data-value="header-lightblue"] {
		>span {
			&:nth-child(1) {
				&:after {
					background: #23b7e5;
				}
			}
		}
	}
	>a[data-value="header-dark"] {
		>span {
			&:nth-child(1) {
				&:after {
					background: #323437;
				}
			}
		}
	}
}
.theme-color.header-color.small {
	>a[data-value="header-blue"] {
		background: #04a9f5;
	}
	>a[data-value="header-red"] {
		background: #ff5252;
	}
	>a[data-value="header-purple"] {
		background: #9575CD;
	}
	>a[data-value="header-lightblue"] {
		background: #23b7e5;
	}
	>a[data-value="header-dark"] {
		background: #323437;
	}
}
.theme-color.navbar-color {
	>a[data-value="navbar-blue"] {
		>span {
			&:before {
				background: #04a9f5;
			}
		}
	}
	>a[data-value="navbar-red"] {
		>span {
			&:before {
				background: #ff5252;
			}
		}
	}
	>a[data-value="navbar-purple"] {
		>span {
			&:before {
				background: #9575CD;
			}
		}
	}
	>a[data-value="navbar-lightblue"] {
		>span {
			&:before {
				background: #23b7e5;
			}
		}
	}
	>a[data-value="navbar-dark"] {
		>span {
			&:before {
				background: #323437;
			}
		}
	}
}
.theme-color.brand-color {
	>a[data-value="brand-blue"] {
		>span {
			&:nth-child(1) {
				&:before {
					background: #04a9f5;
				}
			}
		}
	}
	>a[data-value="brand-red"] {
		>span {
			&:nth-child(1) {
				&:before {
					background: #ff5252;
				}
			}
		}
	}
	>a[data-value="brand-purple"] {
		>span {
			&:nth-child(1) {
				&:before {
					background: #9575CD;
				}
			}
		}
	}
	>a[data-value="brand-lightblue"] {
		>span {
			&:nth-child(1) {
				&:before {
					background: #23b7e5;
				}
			}
		}
	}
	>a[data-value="brand-dark"] {
		>span {
			&:nth-child(1) {
				&:before {
					background: #323437;
				}
			}
		}
	}
}
.theme-color.brand-color.small {
	>a[data-value="brand-blue"] {
		background: #04a9f5;
	}
	>a[data-value="brand-red"] {
		background: #ff5252;
	}
	>a[data-value="brand-purple"] {
		background: #9575CD;
	}
	>a[data-value="brand-lightblue"] {
		background: #23b7e5;
	}
	>a[data-value="brand-dark"] {
		background: #323437;
	}
}
.theme-color.active-color {
	>a[data-value="active-default"] {
		background: linear-gradient(-135deg, #1de9b6 0%, #1dc4e9 100%);
	}
	>a[data-value="active-blue"] {
		background: #04a9f5;
	}
	>a[data-value="active-red"] {
		background: #ff5252;
	}
	>a[data-value="active-purple"] {
		background: #9575CD;
	}
	>a[data-value="active-lightblue"] {
		background: #23b7e5;
	}
	>a[data-value="active-dark"] {
		background: #323437;
	}
}
.theme-color.title-color {
	>a[data-value="title-default"] {
		background: #fff;
	}
	>a[data-value="title-blue"] {
		background: #04a9f5;
	}
	>a[data-value="title-red"] {
		background: #ff5252;
	}
	>a[data-value="title-purple"] {
		background: #9575CD;
	}
	>a[data-value="title-lightblue"] {
		background: #23b7e5;
	}
	>a[data-value="title-dark"] {
		background: #323437;
	}
}
.theme-color.navbar-images {
	>a {
		height: 90px;
		background-size: cover;
		background-position: center center;
		span {
			display: none;
		}
	}
	>a.active {
		&:before {
			top: 35px;
			content: "\e87c";
		}
	}
	>a[data-value="navbar-image-1"] {
		//background-image: url("/images/nav-bg/navbar-img-1.jpg");
	}
	>a[data-value="navbar-image-2"] {
		//background-image: url("/images/nav-bg/navbar-img-2.jpg");
	}
	>a[data-value="navbar-image-3"] {
		//background-image: url("/images/nav-bg/navbar-img-3.jpg");
	}
	>a[data-value="navbar-image-4"] {
		//background-image: url("/images/nav-bg/navbar-img-4.jpg");
	}
	>a[data-value="navbar-image-5"] {
		//background-image: url("/images/nav-bg/navbar-img-5.jpg");
	}
}
.theme-color.bg-images {
	>a {
		width: 95px;
		height: 80px;
		border-radius: 2px;
		background-size: cover;
		background-position: center center;
		span {
			display: none;
		}
	}
	>a.active {
		&:before {
			top: 35px;
			content: "\e87c";
		}
	}
}
.theme-color.prelayout-color {
	>a {
		margin-bottom: 5px;
	}
	>a[data-value="l2"] {
		>span {
			&:nth-child(1) {
				&:before {
					background: #3f4d67;
				}
			}
			&:nth-child(2) {
				&:before {
					background: linear-gradient(-135deg, #1de9b6 0%, #1dc4e9 100%);
				}
			}
		}
	}
	>a[data-value="l2-2"] {
		>span {
			&:nth-child(1) {
				&:before {
					background: #3f4d67;
				}
			}
			&:nth-child(2) {
				&:before {
					background: linear-gradient(-135deg, #899FD4 0%, #A389D4 100%);
				}
			}
		}
	}
	>a[data-value="l3"] {
		>span {
			&:nth-child(1) {
				&:before {
					background: #3f4d67;
				}
			}
			&:nth-child(2) {
				&:before {
					background: #04a9f5;
				}
			}
		}
	}
	>a[data-value="l4"] {
		>span {
			&:nth-child(1) {
				&:before {
					background: linear-gradient(-135deg, #1de9b6 0%, #1dc4e9 100%);
				}
			}
			&:nth-child(2) {
				&:before {
					background: #212224;
				}
			}
		}
	}
	>a[data-value="l4-2"] {
		>span {
			&:nth-child(1) {
				&:before {
					background: linear-gradient(-135deg, #899FD4 0%, #A389D4 100%);
				}
			}
			&:nth-child(2) {
				&:before {
					background: #212224;
				}
			}
		}
	}
	>a[data-value="l5-h"] {
		>span {
			&:nth-child(1) {
				height: 40%;
				&:after {
					background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #04a9f5), color-stop(0%, #fff));
					background: linear-gradient(#04a9f5 50%, #fff 0%);
					-webkit-box-shadow: 7px 0 15px 0 rgba(69, 90, 100, 0.09);
					box-shadow: 7px 0 15px 0 rgba(69, 90, 100, 0.09);
					z-index: 1;
				}
				&:before {
					background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #04a9f5), color-stop(0%, #fff));
					background: linear-gradient(#04a9f5 50%, #fff 0%);
					-webkit-box-shadow: 7px 0 15px 0 rgba(69, 90, 100, 0.09);
					box-shadow: 7px 0 15px 0 rgba(69, 90, 100, 0.09);
					z-index: 1;
				}
			}
			&:nth-child(2) {
				height: 60%;
				&:after {
					background: #f4f7fa;
				}
				&:before {
					background: #f4f7fa;
				}
			}
		}
	}
	>a[data-value="l-lite"] {
		>span {
			&:nth-child(1) {
				&:after {
					background: #23b7e5;
				}
				&:before {
					background: #23b7e5;
				}
			}
			&:nth-child(2) {
				&:before {
					background: #fff;
				}
			}
		}
	}
	>a[data-value="l6"] {
		>span {
			&:nth-child(1) {
				height: 50%;
				&:after {
					background: #23b7e5;
				}
				&:before {
					background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #23b7e5), color-stop(0%, #fff));
					background: linear-gradient(#23b7e5 50%, #fff 0%);
					z-index: 1;
				}
			}
			&:nth-child(2) {
				height: 50%;
				&:after {
					background: #f4f7fa;
				}
				&:before {
					background: #fff;
				}
			}
		}
	}
	>a[data-value="l8"] {
		>span {
			&:nth-child(1) {
				&:after {
					background: #23b7e5;
				}
				&:before {
					background: #23b7e5;
				}
			}
			&:nth-child(2) {
				&:after {
					background: #f4f7fa;
				}
				&:before {
					background: linear-gradient(#fff 0px, #fff 5px, rgba(35, 183, 229, 0.5) 5px, rgba(35, 183, 229, 0.5) 5px, rgba(35, 183, 229, 0.5) 8px, #fff 8px, #fff);
				}
			}
		}
	}
}