.hljs {
	padding: 0.5em;
	color: $color_7;
	background: #282c34;
}
.hljs-comment {
	color: $color_8;
	font-style: italic;
}
.hljs-quote {
	color: $color_8;
	font-style: italic;
}
.hljs-doctag {
	color: $color_9;
}
.hljs-formula {
	color: $color_9;
}
.hljs-keyword {
	color: $color_9;
}
.hljs-deletion {
	color: $color_10;
}
.hljs-name {
	color: $color_10;
}
.hljs-section {
	color: $color_10;
}
.hljs-selector-tag {
	color: $color_10;
}
.hljs-subst {
	color: $color_10;
}
.hljs-literal {
	color: $color_11;
}
.hljs-addition {
	color: $color_12;
}
.hljs-attribute {
	color: $color_12;
}
.hljs-meta-string {
	color: $color_12;
}
.hljs-regexp {
	color: $color_12;
}
.hljs-string {
	color: $color_12;
}
.hljs-built_in {
	color: $color_13;
}
.hljs-class {
	.hljs-title {
		color: $color_13;
	}
}
.hljs-attr {
	color: $color_14;
}
.hljs-number {
	color: $color_14;
}
.hljs-selector-attr {
	color: $color_14;
}
.hljs-selector-class {
	color: $color_14;
}
.hljs-selector-pseudo {
	color: $color_14;
}
.hljs-template-variable {
	color: $color_14;
}
.hljs-type {
	color: $color_14;
}
.hljs-variable {
	color: $color_14;
}
.hljs-bullet {
	color: $color_15;
}
.hljs-link {
	color: $color_15;
	text-decoration: underline;
}
.hljs-meta {
	color: $color_15;
}
.hljs-selector-id {
	color: $color_15;
}
.hljs-symbol {
	color: $color_15;
}
.hljs-title {
	color: $color_15;
}
.hljs-emphasis {
	font-style: italic;
}
.hljs-strong {
	font-weight: bold;
}