.fixed-button {
	position: fixed;
	bottom: -50px;
	right: 30px;
	opacity: 0;
	z-index: 9;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-animation: pulse 2s infinite;
	animation: pulse 2s infinite;
	border-radius: 0.25rem;
	.btn {
		margin: 0;
		background: #79b530;
		border: none;
		border-bottom: 2px solid #5e8d25;
		text-transform: capitalize;
		font-weight: bold;
		font-size: 16px;
		&:hover {
			background: #79b530;
			border: none;
			border-bottom: 2px solid #5e8d25;
		}
	}
	&:hover {
		-webkit-animation: none;
		animation: none;
	}
}
.fixed-button.active {
	bottom: 50px;
	opacity: 1;
}