.card-border-c-blue {
	border-top: 4px solid #04a9f5;
}
.card-border-c-red {
	border-top: 4px solid #f44236;
}
.card-border-c-green {
	border-top: 4px solid #1de9b6;
}
.card-border-c-yellow {
	border-top: 4px solid #f4c22b;
}
.card-border-c-purple {
	border-top: 4px solid #a389d4;
}