$font-size: 20px;
$frame-color: #000000;
$size: 1.5em;
$open-width: 18em;
$open-padding: 0.3em 2.1em 0.3em 0.4em;
$frame-thickness: 0.3em;
$handle-height: 1.4em;
$open-trans-time: 800ms;
$close-trans-time: 150ms;
$body-temp: #f4f7fa;

$color_1: #888;
$color_2: #111;
$color_3: #000;
$color_4: #04a9f5;
$color_5: #fff;
$color_6: #333;
$color_7: #abb2bf;
$color_8: #5c6370;
$color_9: #c678dd;
$color_10: #e06c75;
$color_11: #56b6c2;
$color_12: #98c379;
$color_13: #e6c07b;
$color_14: #d19a66;
$color_15: #61aeee;
$color_16: #f44236;
$color_17: #1de9b6;
$color_18: #f4c22b;
$color_19: #a389d4;
$color_20: #3f4d67;
$color_21: #222;
$color_22: #a9b7d0;
$color_23: transparent;
$color_24: inherit;
$color_25: #e8edf7;
$color_26: #1dc4e9;
$color_27: rgba(255, 255, 255, 0.8);
$color_28: #ff5252;
$color_29: #01a9ac;
$color_30: #9575CD;
$color_31: #23b7e5;
$color_32: #2c3547;
$color_33: #323437;
$color_34: #3ebfea;
$color_35: rgba(255, 255, 255, 0.85);
$color_36: rgba(255, 255, 255, 0.5);
$color_37: #d8d8d8;
$color_38: #666;
$color_39: #919aa3;
$color_40: #ccc;
$color_41: #ffffff94;
$color_42: #aaaeb3;
$color_43: #ffffff;
$color_44: #1dd5d2;
$color_45: #d6d6d6;
$color_46: #37474f;
$color_47: #748892;
$color_48: #f2f2f2;
$color_49: #1c7aa5;
$color_50: #155a79;
$color_51: #576972;
$color_52: #414e55;
$color_53: #299b85;
$color_54: #1e7362;
$color_55: #3b85a0;
$color_56: #2d667b;
$color_57: #99873c;
$color_58: #74672e;
$color_59: #994442;
$color_60: #753433;
$color_61: #98a0a4;
$color_62: #7d878c;
$color_63: #222c31;
$color_64: rgba(4, 169, 245, 0.1);
$color_65: #1ec9de;
$color_66: #bbb;
$color_67: #FFFFFF;
$color_68: #555555;
$color_69: #eaeaea;
$color_70: initial;
$color_71: #455a64;
$color_72: rgba(0, 0, 0, 0.9);
$color_73: white;
$font-family_1: "Open Sans", sans-serif;
$font-family_2: "pct";
$font-family_3: 'feather';
$font-family_4: "Courier New", Courier, monospace;
$font-family_5: 'Material Icons';
$font-family_6: "feather";
$background-color_1: transparent;
$background-color_2: #04a9f5;
$background-color_3: rgba(255, 255, 255, 0.7);
$background-color_4: rgba(86, 61, 124, 0.15);
$background-color_5: rgba(255, 0, 0, 0.1);
$background-color_6: #fafafa;
$background-color_7: #f3f2fb;
$background-color_8: #eee;
$background-color_9: #fff;
$background-color_10: #a9b7d0;
$background-color_11: #1dc4e9;
$background-color_12: rgba(0, 0, 0, 0.2);
$background-color_13: #3f4d67;
$background-color_14: rgba(4, 169, 245, 0.03);
$background-color_15: rgba(255, 255, 255, 0.4);
$background-color_16: #ff5252;
$background-color_17: #9575CD;
$background-color_18: #23b7e5;
$background-color_19: #323437;
$background-color_20: rgba(255, 255, 255, 0.65);
$background-color_21: rgba(0, 0, 0, 0.05);
$background-color_22: rgba(0, 0, 0, 0.08);
$background-color_23: rgba(255, 255, 255, 0.05);
$background-color_24: rgba(255, 255, 255, 0.08);
$background-color_25: #333f54;
$background-color_26: #ffffff;
$background-color_27: rgba(4, 169, 245, 0.05);
$background-color_28: #37474f;
$background-color_29: #334249;
$background-color_30: #2d3940;
$background-color_31: #038fcf;
$background-color_32: #0386c3;
$background-color_33: #748892;
$background-color_34: #62747d;
$background-color_35: #5d6e76;
$background-color_36: #1de9b6;
$background-color_37: #14cc9e;
$background-color_38: #13c095;
$background-color_39: #3ebfea;
$background-color_40: #1cb4e6;
$background-color_41: #18acdd;
$background-color_42: #f4c22b;
$background-color_43: #ecb50c;
$background-color_44: #e0ab0c;
$background-color_45: #f44236;
$background-color_46: #f22012;
$background-color_47: #ea1b0d;
$background-color_48: #f2f2f2;
$background-color_49: #dfdfdf;
$background-color_50: #d9d9d9;
$background-color_51: #273338;
$background-color_52: #222c31;
$background-color_53: #f4f7fa;
$background-color_54: #d6d6d6;
$background-color_55: inherit;
$background-color_56: rgba(255, 255, 255, 0.8);
$border-color_1: transparent;
$border-color_2: #04a9f5;
$border-color_3: #ff5252;
$border-color_4: #9575CD;
$border-color_5: #23b7e5;
$border-color_6: #323437;
$border-color_7: #fff;
$border-color_8: #1dd5d2;
$border-color_9: #f44236;
$border-color_10: #1de9b6;
$border-color_11: #f4c22b;
$border-color_12: #3ebfea;
$border-color_13: #222c31;
$border-color_14: #1de1c2;
$border-color_15: #0386c3;
$border-color_16: #037eb6;
$border-color_17: #748892;
$border-color_18: #5d6e76;
$border-color_19: #57676f;
$border-color_20: #13c095;
$border-color_21: #12b58c;
$border-color_22: #18acdd;
$border-color_23: #17a3d1;
$border-color_24: #e0ab0c;
$border-color_25: #d4a20b;
$border-color_26: #ea1b0d;
$border-color_27: #de190c;
$border-color_28: #f2f2f2;
$border-color_29: #d9d9d9;
$border-color_30: #d2d2d2;
$border-color_31: #37474f;
$border-color_32: #1d2529;
$border-color_33: #b9e7fc;
$border-color_34: #d8dee0;
$border-color_35: #c0f9eb;
$border-color_36: #c9edf9;
$border-color_37: #fceec4;
$border-color_38: #fccac7;
$border-color_39: #fbfbfb;
$border-color_40: #c7cbce;
$border-color_41: #04a9f5 transparent transparent;
$border-color_42: transparent transparent #04a9f5;
$border-color_43: transparent transparent transparent #04a9f5;
$border-color_44: transparent #04a9f5 transparent transparent;
$border-color_45: #f4c22b transparent transparent;
$border-color_46: transparent transparent #f4c22b;
$border-color_47: transparent transparent transparent #f4c22b;
$border-color_48: transparent #f4c22b transparent transparent;
$border-color_49: #d6d6d6 transparent transparent;
$border-color_50: transparent transparent #d6d6d6;
$border-color_51: transparent transparent transparent #d6d6d6;
$border-color_52: transparent #d6d6d6 transparent transparent;
$border-color_53: #f44236 transparent transparent;
$border-color_54: transparent transparent #f44236;
$border-color_55: transparent transparent transparent #f44236;
$border-color_56: transparent #f44236 transparent transparent;
$border-color_57: #1de9b6 transparent transparent;
$border-color_58: transparent transparent #1de9b6;
$border-color_59: transparent transparent transparent #1de9b6;
$border-color_60: transparent #1de9b6 transparent transparent;
$border-color_61: #37474f transparent transparent;
$border-color_62: transparent transparent #37474f;
$border-color_63: transparent transparent transparent #37474f;
$border-color_64: transparent #37474f transparent transparent;
$border-color_65: #3ebfea transparent transparent;
$border-color_66: transparent transparent #3ebfea;
$border-color_67: transparent transparent transparent #3ebfea;
$border-color_68: transparent #3ebfea transparent transparent;
$border-top-color_1: #000;
$border-top-color_2: #a1dffb;
$border-top-color_3: #cad2d5;
$border-top-color_4: #a9f7e4;
$border-top-color_5: #b2e5f6;
$border-top-color_6: #fbe7ac;
$border-top-color_7: #fbb3af;
$border-top-color_8: #eeeeee;
$border-top-color_9: #b9bec2;
$border-bottom-color_1: #fff;
$border-bottom-color_2: #1de9b6;
$border-bottom-color_3: #f4f7fa;